In [60]:
import pandas as pd
from fact.io import read_data, read_h5py_chunked, read_h5py
import matplotlib.pyplot as plt
%matplotlib inline

In [49]:
infile = "/Users/jbuss/data/fact/crab_1516_moderate_moon_ratescan_1.0.3.hdf5"
df = read_h5py_chunked(infile, key="ratescan", chunksize=1000)
df_runs = read_data(infile, key="events")
df_runs.head()

,bunch_index,data_file_exists,data_path,delta_t_seconds,drs_path,effective_on,filename,night,ontime,output_path,run_id
0,0,True,/home/jbuss/raw/2015/12/20/20151220_096.fits.fz,344.0,/home/jbuss/raw/2015/12/20/20151220_093.drs.fi...,0.9615,20151220_093,20151220,283.64,/net/big-tank/POOL/users/jbuss/data/dissertati...,96
1,0,True,/home/jbuss/raw/2015/12/20/20151220_097.fits.fz,648.0,/home/jbuss/raw/2015/12/20/20151220_093.drs.fi...,0.9554,20151220_093,20151220,281.83,/net/big-tank/POOL/users/jbuss/data/dissertati...,97
2,0,True,/home/jbuss/raw/2015/12/20/20151220_098.fits.fz,953.0,/home/jbuss/raw/2015/12/20/20151220_093.drs.fi...,0.9553,20151220_093,20151220,281.79,/net/big-tank/POOL/users/jbuss/data/dissertati...,98
3,1,True,/home/jbuss/raw/2015/12/20/20151220_099.fits.fz,1257.0,/home/jbuss/raw/2015/12/20/20151220_093.drs.fi...,0.9618,20151220_093,20151220,283.72,/net/big-tank/POOL/users/jbuss/data/dissertati...,99
4,1,True,/home/jbuss/raw/2015/12/20/20151220_101.fits.fz,1593.0,/home/jbuss/raw/2015/12/20/20151220_093.drs.fi...,0.9685,20151220_093,20151220,285.69,/net/big-tank/POOL/users/jbuss/data/dissertati...,101

In [51]:
df_ids = read_data(infile, key="ratescan", columns=['event_num', 'night', 'run_id'])

In [28]:
frame, start, end = next(df)

In [29]:
print(start, end)
frame.keys()

0 1000

Index(['event_num', 'night', 'ped_mean_mean', 'ped_mean_median',
       'ped_var_mean', 'ped_var_median', 'ped_var_variance',
       'ratescan_trigger_counts', 'ratescan_trigger_thresholds', 'run_id',
       'timestamp', 'trigger_type'],
      dtype='object')

In [30]:
frame.describe()

,event_num,night,ped_mean_mean,ped_mean_median,ped_var_mean,ped_var_median,ped_var_variance,ratescan_trigger_counts,ratescan_trigger_thresholds,run_id,trigger_type
count,1000.000000,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.0,1000.0
mean,2.845000,20151220.0,-121.204280,-141.700556,293114.399821,226552.118516,5.737653e+10,17.288000,1712.170000,96.0,4.0
std,1.329188,0.0,8.272373,9.265461,9656.112829,4916.409450,6.920770e+09,41.580621,1498.118737,0.0,0.0
min,1.000000,20151220.0,-140.346693,-160.360123,280819.319586,215235.470286,4.683639e+10,0.000000,0.000000,96.0,4.0
25%,2.000000,20151220.0,-123.786312,-144.228787,283105.980969,223258.302260,5.191536e+10,1.000000,497.500000,96.0,4.0
50%,2.000000,20151220.0,-123.786312,-144.228787,302219.340627,230499.519755,6.353341e+10,3.000000,1185.000000,96.0,4.0
75%,4.000000,20151220.0,-112.312529,-138.306819,302219.340627,230499.519755,6.353341e+10,4.000000,2732.500000,96.0,4.0
max,5.000000,20151220.0,-110.018749,-126.675964,302219.340627,230499.519755,6.353341e+10,160.000000,5230.000000,96.0,4.0

In [56]:
grouped = df_ids.groupby(['night', 'run_id'])

In [58]:
for name, grp in grouped:
    print(name, grp.index[0], grp.index[-1])

(20151220, 96) 0 5818622
(20151220, 97) 610453 6491101
(20151220, 98) 1282932 7112781
(20151220, 99) 26126603 26806652
(20151220, 101) 26806653 27485248
(20151220, 104) 27485249 28125513
(20151220, 105) 30798920 31462438
(20151220, 106) 31462439 32156178
(20151220, 107) 32156179 32746247
(20151220, 113) 32746248 33412282
(20151220, 118) 33412283 34085060
(20151220, 119) 34085061 34782983
(20151220, 120) 34782984 35439757
(20151220, 121) 35439758 36082006
(20151220, 125) 36082007 36835787
(20151220, 126) 36835788 37511363
(20151220, 128) 37511364 38156591
(20151220, 129) 38156592 38821574
(20151220, 130) 38821575 39438733
(20151220, 131) 39438734 40175541
(20151220, 137) 40175542 40864393
(20151220, 138) 40864394 41515070
(20151220, 139) 41515071 42190095
(20151228, 87) 42190096 42907457
(20151228, 89) 42907458 43609337
(20151228, 90) 43609338 44332683
(20151228, 91) 44332684 45085055
(20151228, 92) 45085056 45719206
(20151228, 98) 45719207 46393381
(20151228, 99) 46393382 47196687
(20151228, 100) 1904612 7766962
(20151228, 101) 2558793 8478031
(20151228, 103) 3269862 9137517
(20151228, 110) 3929348 9787424
(20151228, 111) 4579255 10493080
(20151228, 113) 10493081 11120276
(20151228, 114) 11120277 11804913
(20151228, 115) 11804914 12492129
(20151228, 116) 12492130 13235579
(20151228, 122) 13235580 13926485
(20151228, 123) 13926486 14628264
(20151228, 124) 14628265 15280207
(20151228, 125) 15280208 15982101
(20151228, 127) 15982102 16650719
(20151228, 137) 16650720 17289049
(20151228, 138) 17289050 17875998
(20151228, 140) 17875999 18519049
(20151228, 141) 18519050 19182200
(20151228, 142) 19182201 19821036
(20151229, 144) 19821037 20547707
(20151229, 149) 20547708 21333082
(20151229, 150) 21333083 22027973
(20151229, 151) 22027974 22717541
(20160126, 63) 22717542 23563902
(20160214, 39) 23563903 24379558
(20160214, 40) 24379559 25033459
(20160214, 48) 25033460 25824519
(20160314, 13) 25824520 25919360
(20160314, 14) 25919361 26028896
(20160314, 15) 26028897 26126602
(20160314, 16) 28125514 28228554
(20160314, 17) 28228555 28334273
(20160314, 18) 28334274 28441139
(20160314, 19) 28441140 28551102
(20160314, 20) 28551103 28691810
(20160314, 21) 28691811 28812124
(20160314, 22) 28812125 28932224
(20160314, 23) 28932225 29043070
(20160314, 24) 29043071 29170353
(20160314, 25) 29170354 29324026
(20160314, 26) 29324027 29453851
(20160314, 27) 29453852 29569452
(20160314, 43) 29569453 30195820
(20160314, 44) 30195821 30798919

In [61]:
df_night = read_h5py(infile, key="ratescan", first=0, last=5818622)

In [66]:
df_night["run_id"].unique()

array([ 96,  97,  98, 100, 101, 103, 110, 111])